@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');

* {
    font-family: "DM Sans";
}

body {
    background-color: #D8F0DA;
}

#Title {
    transform: translateY(-20%);
    font-size: 400%;
    text-align: center;
}


/* THIS EXISTS SOLEY TO CENTER THE TABLE DIV */
#CenterDiv { 
    display: flex;
    justify-content: center;
    align-content: center;
}

#TableDiv {
    background-color: #F0E192;
    text-align: center;
    position: relative;
    border: 2px solid;
    width: 800px;
    height: 700px;
}

#SelectCSV {
    margin-top: 2%;
}

#CSVTable {
    margin-top: 5%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 2px solid;
}